#topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    position: fixed;
    width: 100%;
    background-color: white;
}

.topBarGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.topBarButton {
    padding: 5%;
}

#loginImage {
    margin-right: 20px;
}