#closeButtonContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

#closeButton:hover{
    opacity: 0.8;
}

.edit-form-rooms {
    width: 500px;
}

.form-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.edit-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 150px;
    gap: 50px;
}

.room-img-block {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 150px;
}

.MuiTableCell-root {
    padding: 10px;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid #454647;
    text-align: center;
}

.MuiTableCell-head {
    color: white;
}

.table-head {
    border: 1px solid #454647;
    text-align: center;
    background-color: #212529;
    color: white;
}   

.table-body {
    border: 1px solid #454647;
    text-align: center;
}

