#footer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    height: 20%;
}

.footerGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a{
    color: #1976d2;
}

a:hover{
    text-decoration: underline;
}


